{% extends "base.html" %}
{% block content %}
<div class="row mt-4">
    {% for pin in pins %}
    <div class="img-container col-md-2 mb-3">
        <a href="{% url 'pins:pin_detail' pin.id %}">
            {% if pin.get_type == 'video' %}
                <video autoplay muted loop class="video" >
                    <source src="{{ pin.file.url }}" >
                </video>
            {% elif pin.get_type == 'image' %}
                <img style="object-fit: cover; border-radius: 20px; cursor: zoom-in;" height="300" width="200" src="{{ pin.file.url }}">
            {% endif %}
        </a>
    </div>
    {% endfor %}
</div>

{% comment %} <div id="masonry">
    {% for pin in pins %}
    <a class="m-2" href="{% url 'pins:pin_detail' pin.id %}">
        {% if pin.get_type == 'video' %}
        <video autoplay muted loop>
            <source src="{{ pin.file.url }}">
        </video>
        {% elif pin.get_type == 'image' %}
        <img src="{{ pin.file.url }}">
        {% endif %}
    </div>
    {% endfor %}
</div> {% endcomment %}

{% endblock %}