{% extends "base.html" %}
{% block content %}
<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6 pin-detail-container p-4">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="row">
                <div class="col-md-4">
                    <img style="object-fit: cover;" class="rounded" src="{{ board.cover.url }}" width="180" height="180">
                </div>
                <div class="mt-5 col-md-8">
                    <label for=""><font face="Visby Round CF">Выберите низображение для обложки альбома</font></label>
                    <p><font face="Visby Round CF">{{ form.cover }}</font></p>
                </div>
            </div>
            <div class="mt-2">
                <label for=""><font face="Visby Round CF">Название</font></label>
                <p><font face="Visby Round CF">{{ form.title }}</font></p>
            </div>
            <div class="">
                <label class="ms-2"><font face="Visby Round CF">Сделать альбом скрытым</font></label>
                <font face="Visby Round CF">{{ form.is_private }}</font>
            </div>
            <div class="mt-3">
                <label for=""><font face="Visby Round CF">Описание для альбома:</font></label>
                <p><font face="Visby Round CF">{{ form.description }}</font></p>
            </div>
            <button type="submit" class="red-btn btn ps-3 pe-3 text-white"><font face="Visby Round CF">Сохранить</font></button>
            </form>
    </div>

    <div class="col-md-3"></div>
</div>
    {% endblock %}