{% extends 'base.html' %}
{% block content %}
<main class="inbox my-xl">
  <div class="content-box">
    <h3 class="inbox__title"><font face="Visby Round CF">Новые сообщения: (<span>{{unreadCount}}</span>)</font></h3>
    {% comment %} <a href="{% url 'accounts:create-message' user.username %}" class="main-btn btn ps-3 pt-2 pb-2 pe-3 text-black ms-4"><b>New Message</b></a> {% endcomment %}
    <ul class="messages">
      {% for message in messageRequests %}
      {% if message.is_read == False %}
      <li class="message message--unread">
        {% else %}
      <li class="message">
        {% endif %}
        <a href="{% url 'accounts:message' message.id %}">
          <span class="message__author">{{message.name}}</span>
          <span class="message__subject">{{message.subject}}</span>
          <span class="message__date">{{message.created}}</span>
        </a>
      </li>
      {% endfor %}
    </ul>
  </div>
</main>
{% endblock content %}