{% extends 'base.html' %}

{% block content %}
<main class="login-bg" style="height: 100vh;">
    <div class="modal-content ps-5 pb-5 pe-5">
        <div class="formWrapper">
            <a class="backButton" href="{% url 'accounts:profile' recipient.user.username  %}"><i class="im im-angle-left"></i></a>
            <br>

            <form class="form" method="POST">
                {% csrf_token %}

                {% if request.user.is_authenticated == False %}
                <div class="form__field">
                    <label for="formInput#text">{{ form.name.label }}</label>
                    {{ form.name }}
                </div>

                <div class="form__field">
                    <label for="formInput#text">{{ form.email.label }}</label>
                    {{ form.email }}
                </div>
                {% endif %}

                <div class="col-md-12 mt-3">
                    <font face="Visby Round CF">
                    {{ form.subject }}</font>
                </div>

                <div class="col-md-12 mt-3">
                    <font face="Visby Round CF">
                    {{ form.body }}</font>
                </div>

                <input class="red-btn btn text-white mt-3" type="submit" value="Отправить" />
            </form>
        </div>
    </div>
</main>

{% endblock content %}